*{
    margin:0;
  padding:0;
}

body{
    padding-top: 0px;
}
p{
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
}
.container {
    flex-flow: nowrap;
  }

.nav-link{
    font-family: 'Archivo Narrow', sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #0005;
}
.topnav-right {
    float: right;
  }

.headerText{
position: absolute;
width: 268px;
height: 117px;
left: 737px;
top: 641px;

font-family: Archivo Black;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 39px;

color: #AD1409;
}

.aboutText{
    position: absolute;
    width: 487px;
    height: 293px;
    left: 123px;
    top: 1013px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;

}

.about{
    position: absolute;
    width: 201px;
    height: 44px;
    left: 92px;
    top: 922px;
    
    font-family: Archivo Black;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
    
}

.aboutButton{
position: absolute;
width: 232px;
height: 58px;
left: 414px;
top: 1288px;

background: #AD1409;
box-shadow: 4px 5px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 12px;

}

.pic1{
    position: absolute;
width: 582px;
height: 462px;
left: 758px;
top: 852px;

}


.pic2{
    position: absolute;
width: 546px;
height: 403px;
left: 839px;
top: 1083px;

}


.pic3{
    position: absolute;
width: 1440px;
height: 866px;
left: 0px;
top: 1560px;

}

.embrace{
    position: absolute;
width: 682px;
height: 415px;
left: 692px;
top: 1763px;

font-family: Archivo Black;
font-style: normal;
font-weight: normal;
font-size: 128px;
line-height: 139px;

color: #FAF7F2;

}

.addInfo{
    position: absolute;
width: 405px;
height: 149px;
left: 157px;
top: 1889px;

font-family: Archivo Narrow;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
letter-spacing: 0.04em;

color: #FAF7F2;

}

.menu{
    position: absolute;
width: 232px;
height: 58px;
left: 157px;
top: 2065px;
}

.menuButton{
    width: 232px;
height: 58px;
left: 157px;
top: 2065px;

background: #AD1409;
box-shadow: 4px 5px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

.footer-1{
    position: absolute;
width: 285px;
height: auto;
left: 148px;
top: 2487px;

}

.footer-2{
    position: absolute;
    width: 285x;
    height: auto;
    left: 592px;
    top: 2533px;
    
    font-family: Archivo Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    
    color: #000000;
}

.footer-3{
    position: absolute;
width: 84px;
height: 32px;
left: 1204px;
top: 2533px;

}